{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}


{% macro render_flash() %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flash_message">
      {% for message in messages %}
          <li>{{ message }} </li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
{% endmacro %}


{% macro map_score_to_emotion(score) %}
  {% if score > 0.8 %}
    <span class="highly_positive">very happy!! :)</span>
  {% elif score > 0.5 %}
    <span class="positive">happy!</span>
  {% elif score > 0.2 %}
    <span class="neutral">okay</span>
  {% else %}
    <span class="negative">sad :(</span>
  {% endif %}
{% endmacro %}


{% macro render_tweets(tweets) %}
  {% for tweet in tweets %}
  <blockquote class="twitter-tweet" data-lang="en" data-conversation="none">
    <p lang="en" dir="ltr">
      {{ tweet['full_text'] }}
    </p>
    &mdash; {{ tweet['user']['name'] }} @{{ username }} <a href="https://twitter.com/{{ tweet['user']['id'] }}/status/{{ tweet['id'] }}">{{ tweet['created_at'] }}</a></blockquote>
  {% endfor %}
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endmacro %}



{% macro render_emotion_user(username, tweets, score) %}
  <section class="emotion emotion_user">
    <p><a href="https://twitter.com/{{ username }}" class="keyword">@{{ username }}</a> is feeling {{ map_score_to_emotion(score) }}</p>
    <p><span class="score_label">Score:</span> <span class="score">{{ score }}</span></p>
    {{ render_tweets(tweets) }}
  </section>
{% endmacro %}


{% macro render_emotion_hashtag(hashtag, tweets, score) %}
  <section class="emotion emotion_hashtag">
    <p><a href="https://twitter.com/?q={{ hashtag }}" class="keyword">Reading through #{{ hashtag }}</a> made me feel {{ map_score_to_emotion(score) }}</p>
    <p><span class="score_label">Score:</span> <span class="score">{{ score }}</span></p>

    {{ render_tweets(tweets) }}
  </section>
{% endmacro %}


{% macro render_emotion_text(text, score) %}
  <section class="emotion emotion_text">
    <p>Whoever wrote this is feeling {{ map_score_to_emotion(score) }}</p>
    <p><span class="score_label">Score:</span> <span class="score">{{ score }}</span></p>
    <p>{{ text }}</p>
  </section>
{% endmacro %}